body{
    background-image: linear-gradient(to top left,#50067f, #d12600);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    font-family: 'Roboto Condensed', sans-serif;
    background-attachment: fixed;
}
.border-custom{
    background-color: #d12600;
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
}
.search-bar{
    position: relative;
}
.load, .card{
    font-family: 'Roboto Condensed', sans-serif;
}
.card-head{
    background-color: inherit;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.banner{
    font-family: 'Roboto Condensed', sans-serif;
}
.card-main,.card-foot{
    background-color: inherit;
    border: 0;
}
.nav-color{
    color: #d12600;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.text-foot{
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 20px; 
    text-transform: uppercase;
    text-align: center;
}
.addrs{
    font-family: 'Roboto Condensed', sans-serif;

}